root = true

# All files
[*]
indent_style = space

# Code files
[*.{cs,vb}]
csharp_style_namespace_declarations = file_scoped

# Xml files
[*.{xml,csproj,Build.props,Packages.props,config}]
indent_size = 2

# Json files
[*.json]
indent_size = 2
